**Big Data**

**2020-2021**

**Programming Assignment # 1**

**Student Name: Tamer Tahamoqa**

**Student ID: 20208019**

**Guidelines:**

1. The assignment should be performed individually.
2. All submissions will be online (e-learning).
3. Assignment should include your full name and student ID.
4. Cutoff date for this homework is 05-1-2021 @ 12:00 PM.
5. Any late submission will be graded 0/100.
6. Academic Fraud: Cases of plagiarism will be handled according to university regulations.
7. Your homework should be solved as a Jupyter notebook file
8. You will submit a .ipynb file called YourName-ID.ipynb
9. Show all code in each step.

In [1]:
# Instantiating Spark Session
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.master("local[*]").getOrCreate()

---------------------

## Question 1 [50/100]

Download **Mosquitoes-Trap-Data** from this [URL](https://data.edmonton.ca/Environmental-Services/Mosquitoes-Trap-Data/5zeu-wkpv).

Write a complete PySpark application to answer the follwoing question. Make sure to define the schema and prvide all necessary spark transofrmation and action code to get to the answers.   
  
  - **Q1.1** Report all problems you can find in the dataset and how you fixed them.
  - **Q1.2** How many mosquitos caught in 2014?
  - **Q1.3** How many mosquitos of each species were caught?
  - **Q1.4** Which traps caught the most mosquitos?

### __Q1.1__ Report all problems you can find in the dataset and how you fixed them

In [2]:
# Inferring column names from the first row and inferring the data type on read
df_mosquito = spark.read.csv("Mosquitoes_Trap_Data__May_2011_to_Sep_2015_.csv", header=True, inferSchema=True)

In [3]:
df_mosquito.printSchema()

root
 |-- TRAP_DATE: string (nullable = true)
 |-- GENUS: string (nullable = true)
 |-- SPECIES: string (nullable = true)
 |-- TYPE: string (nullable = true)
 |-- GENDER: string (nullable = true)
 |-- RURAL NORTH WEST: integer (nullable = true)
 |-- RURAL NORTH EAST: integer (nullable = true)
 |-- RURAL SOUTH EAST: integer (nullable = true)
 |-- RIVER VALLEY EAST: integer (nullable = true)
 |-- RIVER VALLEY WEST: integer (nullable = true)
 |-- RESIDENTIAL NORTH: integer (nullable = true)
 |-- RURAL SOUTH WEST: integer (nullable = true)
 |-- LAGOON: integer (nullable = true)
 |-- GOLF COURSE: integer (nullable = true)
 |-- INDUSTRIAL PARK: integer (nullable = true)
 |-- RESIDENTIAL SOUTH: integer (nullable = true)
 |-- TOTAL: integer (nullable = true)

In [4]:
df_mosquito.show(20)

+------------+-----+----------+-----------+------+----------------+----------------+----------------+-----------------+-----------------+-----------------+----------------+------+-----------+---------------+-----------------+-----+
|   TRAP_DATE|GENUS|   SPECIES|       TYPE|GENDER|RURAL NORTH WEST|RURAL NORTH EAST|RURAL SOUTH EAST|RIVER VALLEY EAST|RIVER VALLEY WEST|RESIDENTIAL NORTH|RURAL SOUTH WEST|LAGOON|GOLF COURSE|INDUSTRIAL PARK|RESIDENTIAL SOUTH|TOTAL|
+------------+-----+----------+-----------+------+----------------+----------------+----------------+-----------------+-----------------+-----------------+----------------+------+-----------+---------------+-----------------+-----+
| May 17 2011| null|      null|    Unknown|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 31 2011|Culex|      null|       null|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
|June 05 2012| null|      null|       null|  Male|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null|    0|
| May 10 2011|Aedes|      null|       null|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes|      null| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes|cataphylla| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes|  cinereus| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes|  communis| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes| diantaeus| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes|hexodontus| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes|   impiger| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes|implicatus| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes| intrudens| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes|   pionips| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes| provocans| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes|  pullatus| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes|   punctor| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes| spencerii| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes| sticticus| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
| May 10 2011|Aedes|      null|Banded legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|
+------------+-----+----------+-----------+------+----------------+----------------+----------------+-----------------+-----------------+-----------------+----------------+------+-----------+---------------+-----------------+-----+
only showing top 20 rows

In [5]:
df_mosquito.summary().show()

+-------+-----------------+--------+-----------+-----------+------+------------------+-----------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|summary|        TRAP_DATE|   GENUS|    SPECIES|       TYPE|GENDER|  RURAL NORTH WEST| RURAL NORTH EAST| RURAL SOUTH EAST|RIVER VALLEY EAST| RIVER VALLEY WEST| RESIDENTIAL NORTH|  RURAL SOUTH WEST|            LAGOON|       GOLF COURSE|   INDUSTRIAL PARK| RESIDENTIAL SOUTH|             TOTAL|
+-------+-----------------+--------+-----------+-----------+------+------------------+-----------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|  count|             4386|    4182|       3672|       2958|  4386|               582|              517|              431|              386|               332|               295|               432|               208|                93|                96|               362|              4120|
|   mean|             null|    null|       null|       null|  null|25.008591065292098|76.41586073500967|18.48027842227378|18.10103626943005|16.569277108433734| 9.193220338983052|59.398148148148145|27.298076923076923|19.225806451612904|29.052083333333332|21.535911602209946| 29.35388349514563|
| stddev|             null|    null|       null|       null|  null|123.10009470659337|447.4715693838706| 103.731782736487|  67.542330345745| 52.10886253568445|25.350199347166516| 360.9782902461661|110.23964933788102| 53.87972294081998|  136.944734899399| 70.75113485673364|372.05435924607053|
|    min|   August 02 2011|   Aedes|alaskaensis|Banded legs|Female|                 0|                0|                0|                0|                 0|                 0|                 0|                 0|                 1|                 1|                 0|                 0|
|    25%|             null|    null|       null|       null|  null|                 1|                1|                1|                1|                 1|                 1|                 1|                 1|                 1|                 1|                 1|                 0|
|    50%|             null|    null|       null|       null|  null|                 2|                3|                3|                3|                 2|                 2|                 3|                 4|                 2|                 2|                 3|                 0|
|    75%|             null|    null|       null|       null|  null|                 9|               20|               10|               11|                10|                 6|                16|                11|                 7|                 7|                14|                 1|
|    max|September 29 2015|Mansonia|     vexans|    Unknown|  Male|              1752|             8355|             1839|             1117|               489|               210|              5274|              1009|               291|              1233|               737|             15294|
+-------+-----------------+--------+-----------+-----------+------+------------------+-----------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+

In [6]:
df_mosquito.select("SPECIES").distinct().count()

38

In [7]:
df_mosquito.select("SPECIES").distinct().show(38)

+------------+
|     SPECIES|
+------------+
|   intrudens|
|  increpitus|
|     punctor|
|      earlei|
|  hexodontus|
|    dorsalis|
|  minnesotae|
|     impiger|
|  mercurator|
|  cataphylla|
|    riparius|
|        null|
|   spencerii|
|   provocans|
|     pionips|
|  alaskensis|
|    tarsalis|
|    inornata|
| alaskaensis|
|    cinereus|
|  campestris|
|  flavescens|
|     fitchii|
|   impatiens|
|    incidens|
|  perturbans|
|    communis|
|nigromaculis|
|  excrucians|
|    pullatus|
|   territans|
|   morsitans|
|  canadensis|
|   sticticus|
|   diantaeus|
|  implicatus|
|      euedes|
|      vexans|
+------------+

In [8]:
# Counting number of missing (nan) values in each column, used this blogpost as a reference:
#  https://www.datasciencemadesimple.com/count-of-missing-nanna-and-null-values-in-pyspark/

df_mosquito.select([F.count(F.when(F.isnan(col), col)).alias(col) for col in df_mosquito.columns]).show()

+---------+-----+-------+----+------+----------------+----------------+----------------+-----------------+-----------------+-----------------+----------------+------+-----------+---------------+-----------------+-----+
|TRAP_DATE|GENUS|SPECIES|TYPE|GENDER|RURAL NORTH WEST|RURAL NORTH EAST|RURAL SOUTH EAST|RIVER VALLEY EAST|RIVER VALLEY WEST|RESIDENTIAL NORTH|RURAL SOUTH WEST|LAGOON|GOLF COURSE|INDUSTRIAL PARK|RESIDENTIAL SOUTH|TOTAL|
+---------+-----+-------+----+------+----------------+----------------+----------------+-----------------+-----------------+-----------------+----------------+------+-----------+---------------+-----------------+-----+
|        0|    0|      0|   0|     0|               0|               0|               0|                0|                0|                0|               0|     0|          0|              0|                0|    0|
+---------+-----+-------+----+------+----------------+----------------+----------------+-----------------+-----------------+-----------------+----------------+------+-----------+---------------+-----------------+-----+

In [9]:
# Counting number of null values in each column, used this blogpost as a reference:
#  https://www.datasciencemadesimple.com/count-of-missing-nanna-and-null-values-in-pyspark/

df_mosquito.select([F.count(F.when(F.isnull(col), col)).alias(col) for col in df_mosquito.columns]).show()

+---------+-----+-------+----+------+----------------+----------------+----------------+-----------------+-----------------+-----------------+----------------+------+-----------+---------------+-----------------+-----+
|TRAP_DATE|GENUS|SPECIES|TYPE|GENDER|RURAL NORTH WEST|RURAL NORTH EAST|RURAL SOUTH EAST|RIVER VALLEY EAST|RIVER VALLEY WEST|RESIDENTIAL NORTH|RURAL SOUTH WEST|LAGOON|GOLF COURSE|INDUSTRIAL PARK|RESIDENTIAL SOUTH|TOTAL|
+---------+-----+-------+----+------+----------------+----------------+----------------+-----------------+-----------------+-----------------+----------------+------+-----------+---------------+-----------------+-----+
|        1|  205|    715|1429|     1|            3805|            3870|            3956|             4001|             4055|             4092|            3955|  4179|       4294|           4291|             4025|  267|
+---------+-----+-------+----+------+----------------+----------------+----------------+-----------------+-----------------+-----------------+----------------+------+-----------+---------------+-----------------+-----+

In [10]:
# Checking number of duplicate rows
#  Used this stackoverflow answer: https://stackoverflow.com/a/48554666
df_mosquito.groupBy(df_mosquito.columns)\
    .count()\
    .where(F.col('count') > 1)\
    .select(F.sum('count'))\
    .show()

+----------+
|sum(count)|
+----------+
|      null|
+----------+

#### __Q1.1 Answer__:
* I have decided to let PySpark infer the schema and use the first row in the csv file as the column names.
* The dataset is plagued by a lot of null values due to trap failures.
* I have decided to not eliminate any record containing null values as that would practically eliminate almost the entire dataset.
* I tried to convert the 'TRAP_DATE' column to a PySpark DateType but I eventually decided to keep it in a string format.
* No duplicate rows have been found in the dataset

### __Q1.2__ How many mosquitoes caught in 2014?

In [11]:
df_mosquito = df_mosquito.withColumn("YEAR", F.split("TRAP_DATE", " ")[2])  # Add a 'Year' column

In [12]:
df_mosquito.show()

+------------+-----+----------+-----------+------+----------------+----------------+----------------+-----------------+-----------------+-----------------+----------------+------+-----------+---------------+-----------------+-----+----+
|   TRAP_DATE|GENUS|   SPECIES|       TYPE|GENDER|RURAL NORTH WEST|RURAL NORTH EAST|RURAL SOUTH EAST|RIVER VALLEY EAST|RIVER VALLEY WEST|RESIDENTIAL NORTH|RURAL SOUTH WEST|LAGOON|GOLF COURSE|INDUSTRIAL PARK|RESIDENTIAL SOUTH|TOTAL|YEAR|
+------------+-----+----------+-----------+------+----------------+----------------+----------------+-----------------+-----------------+-----------------+----------------+------+-----------+---------------+-----------------+-----+----+
| May 17 2011| null|      null|    Unknown|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 31 2011|Culex|      null|       null|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
|June 05 2012| null|      null|       null|  Male|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null|    0|2012|
| May 10 2011|Aedes|      null|       null|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes|      null| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes|cataphylla| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes|  cinereus| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes|  communis| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes| diantaeus| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes|hexodontus| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes|   impiger| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes|implicatus| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes| intrudens| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes|   pionips| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes| provocans| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes|  pullatus| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes|   punctor| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes| spencerii| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes| sticticus| Black legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
| May 10 2011|Aedes|      null|Banded legs|Female|            null|            null|            null|             null|             null|             null|            null|  null|       null|           null|             null| null|2011|
+------------+-----+----------+-----------+------+----------------+----------------+----------------+-----------------+-----------------+-----------------+----------------+------+-----------+---------------+-----------------+-----+----+
only showing top 20 rows

In [13]:
df_mosquito_2014 = df_mosquito.filter(df_mosquito["YEAR"] == "2014")

In [14]:
df_mosquito_2014.groupBy().sum().show()

+---------------------+---------------------+---------------------+----------------------+----------------------+----------------------+---------------------+-----------+----------------+--------------------+----------------------+----------+
|sum(RURAL NORTH WEST)|sum(RURAL NORTH EAST)|sum(RURAL SOUTH EAST)|sum(RIVER VALLEY EAST)|sum(RIVER VALLEY WEST)|sum(RESIDENTIAL NORTH)|sum(RURAL SOUTH WEST)|sum(LAGOON)|sum(GOLF COURSE)|sum(INDUSTRIAL PARK)|sum(RESIDENTIAL SOUTH)|sum(TOTAL)|
+---------------------+---------------------+---------------------+----------------------+----------------------+----------------------+---------------------+-----------+----------------+--------------------+----------------------+----------+
|                  667|                16753|                 4112|                  2588|                   959|                   647|                 3400|       null|            null|                2789|                  1758|     33673|
+---------------------+---------------------+---------------------+----------------------+----------------------+----------------------+---------------------+-----------+----------------+--------------------+----------------------+----------+

In [15]:
df_mosquito_2014.groupBy().sum().select("sum(TOTAL)").show()

+----------+
|sum(TOTAL)|
+----------+
|     33673|
+----------+

#### __Q1.2 Answer: 33,673 mosquitoes__ were caught in 2014.

### __Q1.3__ How many mosquitoes of each species were caught?

In [16]:
df_mosquito.groupBy("Species").sum().show(38)  # 38 species (one for 'null' species value)

+------------+---------------------+---------------------+---------------------+----------------------+----------------------+----------------------+---------------------+-----------+----------------+--------------------+----------------------+----------+
|     Species|sum(RURAL NORTH WEST)|sum(RURAL NORTH EAST)|sum(RURAL SOUTH EAST)|sum(RIVER VALLEY EAST)|sum(RIVER VALLEY WEST)|sum(RESIDENTIAL NORTH)|sum(RURAL SOUTH WEST)|sum(LAGOON)|sum(GOLF COURSE)|sum(INDUSTRIAL PARK)|sum(RESIDENTIAL SOUTH)|sum(TOTAL)|
+------------+---------------------+---------------------+---------------------+----------------------+----------------------+----------------------+---------------------+-----------+----------------+--------------------+----------------------+----------+
|   intrudens|                    7|                 null|                 null|                  null|                  null|                  null|                 null|       null|            null|                null|                  null|         7|
|  increpitus|                    1|                 null|                 null|                     2|                  null|                  null|                    3|       null|               1|                   1|                  null|         8|
|     punctor|                 null|                 null|                 null|                  null|                  null|                  null|                 null|       null|            null|                null|                  null|         0|
|      earlei|                  267|                   97|                   19|                    80|                     9|                     2|                   15|          2|              18|                   8|                     6|       523|
|  hexodontus|                 null|                 null|                 null|                  null|                  null|                  null|                 null|       null|            null|                null|                  null|         0|
|    dorsalis|                   57|                  159|                  129|                    49|                     3|                     5|                  270|        341|               2|                  53|                    56|      1124|
|  minnesotae|                   15|                   34|                   99|                    14|                     2|                  null|                   19|       null|               8|                   4|                     2|       197|
|     impiger|                 null|                 null|                 null|                  null|                  null|                  null|                 null|       null|            null|                null|                  null|         0|
|  mercurator|                 null|                 null|                 null|                     2|                  null|                  null|                 null|       null|            null|                null|                  null|         2|
|  cataphylla|                 null|                 null|                 null|                  null|                  null|                  null|                 null|       null|            null|                null|                  null|         0|
|    riparius|                   52|                   11|                 null|                     7|                     4|                     2|                   19|       null|            null|                null|                     9|       104|
|        null|                 6049|                 5247|                 2659|                  3357|                  1577|                   865|                 2651|        710|            1084|                 670|                  3141|     28010|
|   spencerii|                   55|                   65|                  186|                    31|                    12|                    23|                  200|        189|            null|                  14|                   148|       923|
|   provocans|                    1|                 null|                 null|                  null|                  null|                  null|                 null|       null|            null|                null|                  null|         1|
|     pionips|                 null|                 null|                 null|                  null|                  null|                  null|                 null|       null|            null|                null|                  null|         0|
|  alaskensis|                   45|                   21|                   18|                     5|                    10|                     3|                   21|       null|               6|                   2|                    10|       141|
|    tarsalis|                   24|                    9|                   18|                     1|                  null|                     2|                    8|          2|               3|                   2|                     7|        76|
|    inornata|                 3038|                 3278|                  762|                   239|                   446|                   316|                 2571|        266|             108|                  38|                   744|     11806|
| alaskaensis|                    1|                    1|                    2|                  null|                  null|                  null|                    3|       null|            null|                   1|                  null|         8|
|    cinereus|                    1|                 null|                 null|                  null|                  null|                  null|                 null|       null|            null|                null|                  null|         1|
|  campestris|                 null|                   12|                    6|                     2|                  null|                     1|                   12|          7|            null|                   1|                     4|        45|
|  flavescens|                  185|                   93|                  180|                    28|                    11|                     7|                  241|        117|              12|                  16|                    63|       953|
|     fitchii|                  101|                   26|                    4|                    11|                    21|                     6|                   63|          5|               4|                   1|                    41|       283|
|   impatiens|                    4|                   29|                   13|                  null|                     2|                  null|                    3|       null|               2|                   2|                  null|        55|
|    incidens|                   22|                    7|                   43|                     3|                  null|                  null|                    2|       null|               1|                null|                     1|        79|
|  perturbans|                   38|                   19|                    3|                     4|                    70|                     1|                   14|       null|               7|                   1|                  null|       157|
|    communis|                 null|                 null|                 null|                  null|                  null|                     1|                 null|       null|            null|                null|                  null|         1|
|nigromaculis|                    3|                    2|                    1|                     4|                     1|                  null|                 null|          1|            null|                null|                  null|        12|
|  excrucians|                   87|                   32|                    3|                    14|                    20|                    17|                    8|          2|               3|                   1|                     6|       193|
|    pullatus|                 null|                 null|                 null|                  null|                  null|                  null|                 null|       null|            null|                null|                  null|         0|
|   territans|                  122|                   17|                   10|                    10|                    28|                    24|                   16|          5|              21|                  11|                    34|       298|
|   morsitans|                   25|                    9|                   18|                     1|                    11|                     4|                   16|       null|               6|                   2|                     9|       101|
|  canadensis|                    1|                    2|                 null|                  null|                  null|                  null|                 null|       null|            null|                null|                  null|         3|
|   sticticus|                    6|                 null|                 null|                  null|                  null|                  null|                    4|          1|            null|                null|                  null|        11|
|   diantaeus|                 null|                 null|                 null|                  null|                  null|                  null|                 null|       null|            null|                null|                  null|         0|
|  implicatus|                 null|                    1|                 null|                  null|                  null|                     1|                    2|       null|            null|                null|                  null|         4|
|      euedes|                   58|                   16|                    1|                    10|                    11|                     9|                   42|          2|               5|                   2|                    11|       167|
|      vexans|                 4290|                30320|                 3791|                  3113|                  3263|                  1423|                19457|       4028|             497|                1959|                  3504|     75645|
+------------+---------------------+---------------------+---------------------+----------------------+----------------------+----------------------+---------------------+-----------+----------------+--------------------+----------------------+----------+

#### __Q1.3 Answer__:

In [17]:
df_mosquito.groupBy("Species").sum().select("Species", "sum(TOTAL)").orderBy("sum(TOTAL)", ascending=False).show(38)  # 38 species (one for 'null' species value)

+------------+----------+
|     Species|sum(TOTAL)|
+------------+----------+
|      vexans|     75645|
|        null|     28010|
|    inornata|     11806|
|    dorsalis|      1124|
|  flavescens|       953|
|   spencerii|       923|
|      earlei|       523|
|   territans|       298|
|     fitchii|       283|
|  minnesotae|       197|
|  excrucians|       193|
|      euedes|       167|
|  perturbans|       157|
|  alaskensis|       141|
|    riparius|       104|
|   morsitans|       101|
|    incidens|        79|
|    tarsalis|        76|
|   impatiens|        55|
|  campestris|        45|
|nigromaculis|        12|
|   sticticus|        11|
|  increpitus|         8|
| alaskaensis|         8|
|   intrudens|         7|
|  implicatus|         4|
|  canadensis|         3|
|  mercurator|         2|
|    communis|         1|
|   provocans|         1|
|    cinereus|         1|
|     punctor|         0|
|  hexodontus|         0|
|     pionips|         0|
|     impiger|         0|
|  cataphylla|         0|
|    pullatus|         0|
|   diantaeus|         0|
+------------+----------+

### __Q1.4__ Which traps caught the most mosquitoes?

Note: I am assuming this means which field had the most amount of caught mosquitoes.

In [18]:
df_mosquito.groupBy().sum().show()

+---------------------+---------------------+---------------------+----------------------+----------------------+----------------------+---------------------+-----------+----------------+--------------------+----------------------+----------+
|sum(RURAL NORTH WEST)|sum(RURAL NORTH EAST)|sum(RURAL SOUTH EAST)|sum(RIVER VALLEY EAST)|sum(RIVER VALLEY WEST)|sum(RESIDENTIAL NORTH)|sum(RURAL SOUTH WEST)|sum(LAGOON)|sum(GOLF COURSE)|sum(INDUSTRIAL PARK)|sum(RESIDENTIAL SOUTH)|sum(TOTAL)|
+---------------------+---------------------+---------------------+----------------------+----------------------+----------------------+---------------------+-----------+----------------+--------------------+----------------------+----------+
|                14555|                39507|                 7965|                  6987|                  5501|                  2712|                25660|       5678|            1788|                2789|                  7796|    120938|
+---------------------+---------------------+---------------------+----------------------+----------------------+----------------------+---------------------+-----------+----------------+--------------------+----------------------+----------+

#### __Q1.4 Answer__: The __RURAL NORTH EAST__ location had the most amount of caught mosquitoes out of all locations.

-----------------

## Question 2 [50/100]

Download **LED Streetlight Conversion Data** from this [URL](https://data.edmonton.ca/Transportation/LED-Streetlight-Conversion/rxke-mcvd).

Write a complete PySpark application to answer the follwoing questions. Make sure to define the schema and provide all necessary spark transofrmations and actions  to get to the answers.   
  
  - **Q2.1** Report all problems you can find in the dataset and how you fixed them.
  - **Q2.2** How many total streetlights?
  - **Q2.3** How many streetlights are converted to LED?
  - **Q2.4** How many streetlights were converted by year?

### __Q2.1__ Report all problems you can find in the dataset and how you fixed them

In [19]:
# Inferring column names from the first row and inferring the data type on read
df_streetlight = spark.read.csv("LED_Streetlight_Conversion.csv", header=True, inferSchema=True)

In [20]:
df_streetlight.printSchema()

root
 |-- Type: string (nullable = true)
 |-- Watts: integer (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Ownership: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Location: string (nullable = true)

In [21]:
df_streetlight.show(20)

+----+-----+----------------+---------+------------------+-------------------+--------------------+
|Type|Watts|      Start Date|Ownership|          Latitude|          Longitude|            Location|
+----+-----+----------------+---------+------------------+-------------------+--------------------+
| LED|  237|February 21 2020|      COE| 53.52467142817719|-113.61566462018001|(5932487.12484, 2...|
| LED|   22|December 19 2017|      COE| 53.47035024680297|-113.65637562043075|(5926428.2609995,...|
| LED|   43|December 19 2017|      COE|  53.4720334816896|-113.66173224778211|(5926613.87644131...|
| LED|   22|December 19 2017|      COE| 53.47083969350626|-113.65686969582687|(5926482.5703075,...|
| LED|   35|December 19 2017|      COE|53.470074318816785|-113.65843946794233|(5926396.89636846...|
| LED|   37|February 21 2020|      COE|53.523965853007276| -113.6148103041073|(5932408.9113597,...|
| LED|   43|December 19 2017|      COE| 53.47134418731741|-113.66215489764367|(5926537.03634357...|
| LED|   43|December 19 2017|      COE| 53.47034970225731|-113.65709132641942|(5926427.97162046...|
| LED|   43|December 19 2017|      COE|  53.4719061491598|-113.66100898879095|(5926599.93450661...|
| LED|   35|December 19 2017|      COE| 53.47196585825606| -113.6593422806407|(5926607.10656291...|
| LED|   35|December 19 2017|      COE| 53.47139006280275|-113.65825721454142|(5926543.37482739...|
| LED|   43|December 19 2017|      COE| 53.47137687416863|-113.66092636365846|(5926541.06105374...|
| LED|  108|November 07 2019|      COE|  53.5194381731557| -113.5671843258411|(5931923.1820992,...|
| LED|   43|December 19 2017|      COE| 53.47213856667661| -113.6619665659506|(5926625.496877, ...|
| LED|   43|December 19 2017|      COE|53.470823941051805|-113.66181401669839|(5926479.24885356...|
| LED|   43|December 19 2017|      COE| 53.47031012466916|-113.66097019558961|(5926422.33568345...|
| LED|   43|December 19 2017|      COE|53.470413784592274|-113.65991560105195|(5926434.20477812...|
| LED|   43|December 19 2017|      COE| 53.47187234377568|-113.66062088779337|(5926596.29510921...|
| LED|   55|December 19 2017|      COE|53.471124914003966|-113.66004114835523|(5926513.30193445...|
| LED|   37|February 21 2020|      COE| 53.52481026290193|-113.61480355720495|(5932502.88330251...|
+----+-----+----------------+---------+------------------+-------------------+--------------------+
only showing top 20 rows

In [22]:
df_streetlight.summary().show()

+-------+------+------------------+-----------------+---------+-------------------+-------------------+--------------------+
|summary|  Type|             Watts|       Start Date|Ownership|           Latitude|          Longitude|            Location|
+-------+------+------------------+-----------------+---------+-------------------+-------------------+--------------------+
|  count|117349|            117316|           117348|   117349|             117349|             117349|              117349|
|   mean|  null|105.95969006785093|             null|     null|  53.52645098249954|-113.51066671363635|                null|
| stddev|  null| 80.15090880880888|             null|     null|0.06082064301295191|0.07781926465097863|                null|
|    min|   HPS|                14|    April 01 1988|      COE|  53.33809790153047|-113.71311636184305|(5911740.64670252...|
|    25%|  null|                60|             null|     null|  53.47801453742578|-113.56654716458246|                null|
|    50%|  null|                86|             null|     null| 53.530339754730285|-113.50415458879168|                null|
|    75%|  null|               150|             null|     null| 53.572711342932095|-113.45028802375778|                null|
|    max|    MV|              1000|September 30 2016|      COE| 53.709033019147036|-113.29590753390248|(5953089.32, 3801...|
+-------+------+------------------+-----------------+---------+-------------------+-------------------+--------------------+

In [23]:
df_streetlight.select("Type").distinct().show()

+----+
|Type|
+----+
| INC|
| LED|
| HPS|
|  MV|
|  MH|
+----+

In [24]:
# Counting number of missing (nan) values in each column, used this blogpost as a reference:
#  https://www.datasciencemadesimple.com/count-of-missing-nanna-and-null-values-in-pyspark/

df_streetlight.select([F.count(F.when(F.isnan(col), col)).alias(col) for col in df_streetlight.columns]).show()

+----+-----+----------+---------+--------+---------+--------+
|Type|Watts|Start Date|Ownership|Latitude|Longitude|Location|
+----+-----+----------+---------+--------+---------+--------+
|   0|    0|         0|        0|       0|        0|       0|
+----+-----+----------+---------+--------+---------+--------+

In [25]:
# Counting number of null values in each column, used this blogpost as a reference:
#  https://www.datasciencemadesimple.com/count-of-missing-nanna-and-null-values-in-pyspark/

df_streetlight.select([F.count(F.when(F.isnull(col), col)).alias(col) for col in df_streetlight.columns]).show()

+----+-----+----------+---------+--------+---------+--------+
|Type|Watts|Start Date|Ownership|Latitude|Longitude|Location|
+----+-----+----------+---------+--------+---------+--------+
|   0|   33|         1|        0|       0|        0|       0|
+----+-----+----------+---------+--------+---------+--------+

In [26]:
# Checking number of duplicate rows
#  Used this stackoverflow answer: https://stackoverflow.com/a/48554666
df_streetlight.groupBy(df_streetlight.columns)\
    .count()\
    .where(F.col('count') > 1)\
    .select(F.sum('count'))\
    .show()

+----------+
|sum(count)|
+----------+
|      4749|
+----------+

In [27]:
# Removing duplicate rows
df_streetlight = df_streetlight.dropDuplicates()

In [28]:
df_streetlight.count()

114902

#### __Q2.1 Answer__:
* I have decided to let PySpark infer the schema and use the first row in the csv file as the column names.
* There is one record with a null date value and 33 records with null watts values.
* I have decided to not eliminate any record containing null values for the analysis.
* 4749 duplicate rows have been found and removed from the dataset

### __Q2.2__ How many total streetlights?

In [29]:
df_streetlight.count()

114902

#### __Q2.2 Answer__: 114,902 streetlights

### __Q2.3__ How many streetlights are converted to LED?

In [30]:
df_streetlight.filter(df_streetlight["Type"] == "LED").count()

50492

#### __Q2.3 Answer__: 50,492 streetlights were converted to LED

### __Q2.4__ How many streetlights were converted by year?

In [31]:
df_streetlight = df_streetlight.withColumn("Year", F.split("Start Date", " ")[2])  # Add a 'Year' column

In [32]:
df_streetlight.show()

+----+-----+-----------------+---------+------------------+-------------------+--------------------+----+
|Type|Watts|       Start Date|Ownership|          Latitude|          Longitude|            Location|Year|
+----+-----+-----------------+---------+------------------+-------------------+--------------------+----+
| LED|   51|  January 15 2018|      COE| 53.53287863556411|-113.46888339036123|(5933462.98184977...|2018|
| LED|   51|  January 15 2018|      COE| 53.53232697346642|-113.47003087340482|(5933401.0242782,...|2018|
| LED|   72|     July 24 2013|      COE| 53.52836144525659|-113.64023322880963|(5932889.25894843...|2013|
| LED|   43| December 23 2011|      COE|53.544666080163026|-113.45023087385474|(5934784.11410638...|2011|
| LED|   34|  January 01 2015|      COE| 53.59385871760341|-113.52498558573531|(5940222.86090743...|2015|
| LED|   34|  January 01 2015|      COE|  53.5982783677076|-113.53071237680531|(5940712.18804645...|2015|
| LED|   65|  January 25 2016|      COE| 53.63205786295841|-113.43632360920843|(5944516.678, 372...|2016|
| LED|   40|    April 04 2018|      COE|53.528334778056546|-113.63426716872917|(5932888.3054, 24...|2018|
| LED|   35|     July 24 2013|      COE| 53.52496321195198| -113.6331526503394|(5932513.48273787...|2013|
| LED|   43|     June 05 2012|      COE|  53.5131666826789|-113.51842067383289|(5931246.018, 319...|2012|
| LED|   43|     June 05 2012|      COE| 53.51411404839645|-113.52055211035922|(5931350.491, 318...|2012|
| LED|   68| November 05 2019|      COE| 53.53292729602645|-113.41878115067186|(5933494.32868996...|2019|
| LED|   72|    March 19 2019|      COE| 53.50985743666873|-113.51985764813394|(5930877.11, 3185...|2019|
| LED|   90| December 21 2017|      COE| 53.57526850626006|-113.44442368867554|(5938192.66450893...|2017|
| LED|  125|   August 03 2018|      COE|53.541163217124954|-113.40365884428397|(5934419.13640058...|2018|
| LED|  145|   August 03 2018|      COE| 53.54096649944941|-113.41083916284967|(5934393.28447878...|2018|
| LED|   58| December 10 2018|      COE| 53.49038979207052|-113.57695513799852|(5928686.67803212...|2018|
| LED|   55|    April 05 2019|      COE|53.510937169567136|-113.52892683436237|(5930993.25155072...|2019|
| LED|   43|     July 01 2018|      COE|53.407231140400754|-113.57964705446052|(5919431.50154096...|2018|
| LED|   68|September 13 2019|      COE| 53.53325671115548|-113.56542720282688|(5933461.67477906...|2019|
+----+-----+-----------------+---------+------------------+-------------------+--------------------+----+
only showing top 20 rows

In [33]:
df_streetlight.select("Year").distinct().count()

49

In [34]:
df_streetlight.select("Year").distinct().orderBy("Year").show(49)

+----+
|Year|
+----+
|null|
|1974|
|1976|
|1977|
|1978|
|1979|
|1980|
|1981|
|1982|
|1983|
|1984|
|1985|
|1986|
|1987|
|1988|
|1989|
|1990|
|1991|
|1992|
|1993|
|1994|
|1995|
|1996|
|1997|
|1998|
|1999|
|2000|
|2001|
|2002|
|2003|
|2004|
|2005|
|2006|
|2007|
|2008|
|2009|
|2010|
|2011|
|2012|
|2013|
|2014|
|2015|
|2016|
|2017|
|2018|
|2019|
|2020|
|2027|
|3008|
+----+

#### __Q2.4 Answer__:

In [35]:
df_streetlight.groupBy("Year").count().orderBy("count", ascending=False).show(49)  # 49 distinct years (one for 'null' year value)

+----+-----+
|Year|count|
+----+-----+
|2002|14062|
|2016|12470|
|2012| 8088|
|2018| 7136|
|2015| 6411|
|2011| 5927|
|2013| 5600|
|2017| 4631|
|2014| 4549|
|2019| 3114|
|2008| 2866|
|2010| 2706|
|2003| 2524|
|1985| 2402|
|2005| 2352|
|2004| 2087|
|2007| 2055|
|1990| 1764|
|1991| 1718|
|1993| 1688|
|2009| 1623|
|1989| 1594|
|2006| 1587|
|1992| 1376|
|1984| 1259|
|2000| 1244|
|1994| 1242|
|1998| 1168|
|2001| 1160|
|1999| 1064|
|1986| 1051|
|1988|  984|
|2020|  869|
|1997|  746|
|1995|  744|
|1980|  619|
|1987|  589|
|1979|  424|
|1982|  399|
|1996|  390|
|1981|  216|
|1983|  195|
|1978|   96|
|1977|   85|
|1976|   24|
|null|    1|
|1974|    1|
|3008|    1|
|2027|    1|
+----+-----+